<div>
    <div class="home">

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <div class="row">
            <div class="col-sm-2 col-xs-0   text-center"></div>
            <div class="col-sm-4 col-xs-12  text-center"><button ui-sref="register" class="btn btn-primary btn-lg home_button btn-block">RESIGTER</button></div>
            <div class="col-sm-4 col-xs-12 text-center"><button ui-sref="login" class="btn btn-default btn-lg home_button btn-block">LOGIN</button></div>
            <div class="col-sm-2 col-xs-0 text-center"></div>
        </div>
    </div>

    <div class="col-xs-2"></div>
</div>
    </div>
</div>
